@model FabrikamFiber.Web.ViewModels.DashboardViewModel
           
@{
    ViewBag.Title = "Home Page";
}

<h1>Dashboard</h1>


<h2>Hi Dev!</h2>

<h2>Today's weather at @ViewBag.City is @ViewBag.Meteo</h2>