<h1>Profile</h1>
<div class="profileImage" style="background-image: url('@Url.Content("~/Content/images/userphoto_kensanchez.jpg")')">	</div>
<h2>Terence Hill</h2>

<ul class="alerts">
    <li><a href=""><span>Alerts:</span> 42</a></li>
    <li><a href=""><span>Tickets:</span> 0</a></li>
</ul>
               
