<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://devopsnantesmeetup.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>devopsnantesmeetup.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>devopsnantesmeetup</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$devopsnantesmeetup</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="FabrikamFiber-DataWarehouse" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:devopsnantes.database.windows.net,1433;Initial Catalog=devopsNantes;User ID=bob@devopsnantes.database.windows.net;Password=oGsqle9qm4f9TROqNemo" Name="Data Source=tcp:devopsnantes.database.windows.net,1433;Initial Catalog=devopsNantes;User Id=bob@devopsnantes.database.windows.net;Password=oGsqle9qm4f9TROqNemo" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FabrikamFiber.mdf;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\FabrikamFiber-DataWarehouse_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\FabrikamFiber.mdf;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="FabrikamFiber-Express" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:devopsnantes.database.windows.net,1433;Initial Catalog=devopsNantes;User ID=bob@devopsnantes.database.windows.net;Password=oGsqle9qm4f9TROqNemo" Name="Data Source=tcp:devopsnantes.database.windows.net,1433;Initial Catalog=devopsNantes;User Id=bob@devopsnantes.database.windows.net;Password=oGsqle9qm4f9TROqNemo" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="FabrikamFiber.DAL.Data.FabrikamFiberWebContext, FabrikamFiber.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FabrikamFiber-DataWarehouse-Web.config Connection String">
      <ParameterValue>Data Source=tcp:devopsnantes.database.windows.net,1433;Initial Catalog=devopsNantes;User Id=bob@devopsnantes.database.windows.net;Password=oGsqle9qm4f9TROqNemo</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)FabrikamFiber-Express-Web.config Connection String">
      <ParameterValue>Data Source=tcp:devopsnantes.database.windows.net,1433;Initial Catalog=devopsNantes;User Id=bob@devopsnantes.database.windows.net;Password=oGsqle9qm4f9TROqNemo</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>