<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FFServices.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FFServices.Properties.Settings>
            <setting name="weatherquery" serializeAs="String">
                <value>http://api.openweathermap.org/data/2.5/weather?q={0},fr&amp;appid=bca2e369c8c2340dd7faddc7a1716ea2</value>
            </setting>
        </FFServices.Properties.Settings>
    </applicationSettings>
</configuration>